OPENAI_API_KEY = 
SECRET = 
MONGO_URI = 
EMAIL = 
EMAIL_PASSWORD = 
FIREBASE_STORAGE_BUCKET = 
FIREBASE_STORAGE_TYPE = 
FIREBASE_STORAGE_PROJECT_ID = 
FIREBASE_STORAGE_PRIVATE_KEY_ID = 
FIREBASE_STORAGE_PRIVATE_KEY = 
FIREBASE_STORAGE_CLIENT_EMAIL = 
FIREBASE_STORAGE_CLIENT_ID = 
FIREBASE_STORAGE_AUTH_URI = 
FIREBASE_STORAGE_TOKEN_URI = 
FIREBASE_STORAGE_AUTH_PROVIDER_CERT_URL = 
FIREBASE_STORAGE_CLIENT_CERT_URL = 
FIREBASE_STORAGE_UNIVERSE_DOMAIN = 